.venv/
__pycache__/
*.pyc
*.pyo

ml challenge dataset/
__MACOSX/
.DS_Store

*.db
models/*.db

experiments/clean_v2_predictions.tsv
experiments/clean_v2_predictions_labeled.tsv
experiments/clean_validation_predictions.tsv