# Data
data/*
!data/.gitkeep

# Models
models/*
!models/.gitkeep

# Submissions
submissions/*

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

6ab10eb3b23ba_student_resource/